.vapor-block-placeholder {
	position: relative;
	background: #113060;
	border: 1px solid gray;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	color: #FFF;

	select {
		height: inherit !important;
		font-size: 14px !important;
		line-height: 1.2em !important;
		border-width: 1px !important;
		width: 100% !important;
		max-width: 450px !important;
	}
}
.vapor-spinner {
	width: 100%;
	text-align: center;
}